.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #D7FBE8;
}

h1 {
  margin: 30px;
font-family: 'Kaushan Script', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #2A1A5E90;
}

p {
  font-size: 3.5rem;
  color: #812D58;
font-family: 'Dancing Script', cursive;
}

img {
  width: 80%;
  /* background-color: white; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  margin-top: 5%;
  color: #1D3E5390;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
